
/*@font-face {
    font-family: fontawesome;
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?) format("embedded-opentype"), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.7.0) format("svg");
    font-weight: 400;
    font-style: normal
}*/

@font-face {

    font-family: Mailston;
    src: url(../fonts/Mailston.otf);
    src: url(../fonts/Mailston.otf?) format("embedded-opentype"), url(../fonts/Mailston.ttf) format("truetype");
    font-style: normal;

}